<div id="declaration_details_page">
    <div class="row">
        <h1>Declaration name: {{ declaration_details[0].declarationname }}</h1>
        {% for declaration in declaration_details %}
            <div class="col-12">
                <div class="card" id="my_appLinkUpload">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ declaration.declarationdetail_periodstart }}
                            {% if declaration.declarationdetail_file  %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle text-success" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l1.912 1.912 3.724-4.263a.267.267 0 0 1 .02-.023z"/>
                            </svg>
                            <a href="{{ declaration.declarationdetail_file }}" target="_blank">{{declaration.declarationdetail_file}} Download</a>
                            <!-- <a href="{{ declaration.declarationdetail_file }}" download>{{declaration.declarationdetail_file}} Download</a> -->

                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm2.354 4.646a.5.5 0 0 1 0 .708L7.707 8l2.647 2.646a.5.5 0 0 1-.708.708L7 8.707 4.354 11.354a.5.5 0 1 1-.708-.708L6.293 8 3.646 5.354a.5.5 0 0 1 .708-.708L7 6.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                            {% endif %}
                            
            
                        </h5>
                        <p class="card-text">
                            
                        </p>
                        <!-- <button class="btn btn-danger my_appDeleteDeclarationButton" data-company-name="{{ declaration.declarationname }}">Delete Declaration</button> -->
                    </div>
                </div>
            </div>
            <form id="update-form" data-declaration-detail-name="{{ declaration.name }}">

                <label for="file-input">Upload File: {{declaration.name}}</label>
                <input type="file" id="file-input">
        
                <button type="submit">Submit</button>
            </form>
            <div style="margin-top:100px"></div>

        {% endfor %}
    </div>
    <hr>
    <!-- <button id="my_appLinkFirstPage" class="btn btn-secondary">Go to Company List</button> -->
</div>

